@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Limelight&family=Modak&family=Prompt:wght@100&display=swap');
@font-face {
    font-family: 'Peignot';
    src: url('../fonts/peignot/Peignot.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ParkLane';
    src: url('../fonts/ParkLane/ParkLaneNF.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CoventryGarden';
    src: url('../fonts/CoventryGarden/CoventryGardenNF.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Semplicita';
    src: url('../fonts/Semplicita/Semplicita\ Light.otf'), format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
  }
body {min-height: -webkit-fill-available; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Peignot';  line-height: 32px; }
h1, h2, h3, h4, h5, h6 { color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Peignot'; font-weight: 700; letter-spacing: -1px; line-height: 1; }
h1 { font-size: 34px; }
h2 { font-size: 28px; line-height: 38px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7; }
p:last-child { margin: 0px; }
a { text-decoration: none; color: #8d8f90; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #f85759; }

.site-container{
    background-color: #ebe5d7;
}

.section {
    position: relative;
    background-color: antiquewhite;
}
.section.bg-static {
    margin: auto;
    background-color: white;
}
.section .bg-move {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 500px;
    width: 150vh;
    height: auto;
    background-size: contain;
    background-image: url("https://assets-global.website-files.com/5b13df51d0d5fe8211f203da/5b13f381541a8480ba1420db_square.svg");
    background-position: 500px;
    background-repeat: no-repeat;
}

.page-header {
    /* background: none; */
    background-color: #1B1D28;
    /* background-image: url(../img/art-deco/elements/gold.png), url(../img/art-deco/elements/ellipse.svg),url(../img/art-deco/elements/banner.svg);
    background-position: 50% 13%, bottom, right bottom;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 25vw, 50vw, 300px; */
    background-image: url(../img/art-deco/elements/ellipse.svg),url(../img/art-deco/elements/banner.svg);
    background-position: bottom, right bottom;
    background-repeat: no-repeat, repeat;
    background-size: 50vw, 300px;
    position: relative;
    transition: padding 0.2s ;
    padding-top: 2em;
}

.page-sub {
    color:  #BE914C;
    text-align: center;
    font-weight: lighter;
}

.page-caption {
    padding-top: 20px; /* Reduce the top padding */
    padding-bottom: 20px; /* Reduce the bottom padding */
}

.page-title {
    color:  #BE914C;
    background-color: #1B1D28;
    /* font-family: 'Kudryashev Display'; */
    font-size: 7vw;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    position: center;
    text-align: center;
    width: fit-content;
    height: fit-content;

}

.page-sub {
    text-align: center;
    font-weight: lighter;
    padding-top: 1em;
}

.page-header.sticky {
    background-color: #1B1D28;
    background-image: url(../img/art-deco/elements/ellipse.svg), url(../img/art-deco/elements/banner.svg);
    background-position: bottom, right bottom;
    background-repeat: no-repeat, repeat;
    background-size: 50vw, 300px;
    border-bottom: 1px solid rgb(113, 113, 113);
    box-shadow: 0 4px 6px -6px #222;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.page-header.sticky .page-caption {
    padding-top: 10px; 
    padding-bottom: 10px;
}

.page-header.sticky .page-title {
    font-size: 40px; 
}

/* NAVBAR SECTION */

.navbar li {
    color:#000000;
    font-family: 'Peignot';
    font-weight: bolder;
    font-size: 20px;
}

.navbar {
    /* margin-left: 1rem; */
    background-color: #BE914C;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 5px;
}

.navbar-nav > li{
    padding-left:80px;
    padding-right:80px;
}

li.nav-item {
    width: 290.33px;
    text-align: center;
}

.nav-item a{
    color:#000;
}
 /*for nested dropdowns in navbar */
a.nav-link.dropdown-toggle.turkeyDropdown{
    color: black;
    text-align: center;
    width: 150px;
}

a.nav-link.dropdown-toggle.turkeyDropdown:hover{
    color: red;
}

navbar-dark .navbar-nav .nav-link:hover {
 color:#000;}

li.nav-item.dropend {
    width:max-content;
}

.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
}

.dropend:hover > .dropdown-menu{
    position:absolute;
    top:0;
    left:100%;
    margin-left: .125em;
}


.nav-item {
    width: 290.33px;
    text-align: center;
    color: white;
    /* font-family: ; */
}

.nav-item.dropdown {
    width: auto;
}

.nav-main a{
    color: white;
}

.nav-link a{
    color: white;
}

a.nav-link.dropdown-toggle.turkeyDropdown{
    color: black;
    text-align: left;
    width: 150px;
}

a.nav-link.dropdown-toggle.turkeyDropdown:hover{
    color: red;
}

navbar-dark .navbar-nav .nav-link:hover {
 color:#000;}

li.nav-item.dropend {
    width:max-content;
}



.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
}

.dropend:hover > .dropdown-menu{
    position:absolute;
    top:0;
    left:100%;
    margin-left: .125em;
}



.turkeyDropdown {
    color:#000;
}

/* CARDS LAYOUT */

.card-container {
    padding: 100px 60px 60px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
  
.card {
    display: grid;
    place-items: center;
    width: 21rem;
    min-width: 21.875rem;
    height: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    /* min-height: 5rem; */
}

.card_img {
    background-repeat: no-repeat;
    background-size: contain; 
    height: 500px; 
    background-position: center center;
}


.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    /* min-height: 5rem; */
}


.card_overflow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/art-deco/covers/menu.png);
    background-size: cover ;
    overflow: hidden;
    width: 100%;
    height: 0;
    text-align: center;
    transition: .5s ease;
}


.card:hover .card_overflow{
    padding-top: 2em;
    height: 100%;
}

/* .card__title h2{
    padding-left: 4px;
    width: 100%;
    margin-top: 30%;
    color:black;
    font-size: 4wf;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg); 
} */

.card__description {
    padding-left: 0 !important;
}

.card__description a {
    color: #ffffff;
    font-family: 'Peignot';
    font-size: 1.2 vw;
    letter-spacing: 5px;
    line-height: 30px;
    text-decoration: none;
}

.card__description a:hover {
    color: #BE914C;
    text-decoration: underline;
} 

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex;
    width: 100%;
    height: 100%;
    padding: 12% 1.25rem 1.875rem;
  
}
  
.card__content--container {
    --flow-space: 1.25rem;
}

.card__title {
    color: #BE914C;
    padding-bottom: 1em;
    padding-top: 2em;
    position: relative;
    text-align: center;
    width: -moz-fit-content;
}
  

#turkey_cover {
    background-image: url(../img/art-deco/covers/tur-artdeco.png);
    width: 20rem;
    background-color: #bba88a;
} 
#italy_cover {
    background-image: url(../img/art-deco/covers/ita-artdeco.png);
    background-color: #bba88a;
}

#kaz_cover {
    background-image: url(../img/art-deco/covers/kaz-artdeco.png);
    background-color: #bba88a;
}

 /* INTRO */


.welcome-intro {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    justify-content: center;
}

.welcome-title{
    font-size: 75px;
    font-family: 'Peignot';
    font-weight: 100;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.welcome-highlight{
    font-style: oblique;
    color: #f85759;
}

.welcome-body{
    /* font-family: Limelight;
    font-weight: 100; */
    font-family: 'Peignot';
    font-size:25px;
    text-align: justify;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.welcome-ornament {
    background-image: url(../img/art-deco/elements/ornament.svg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100px;
    margin-top: 2rem;
    display: block;
}

/* MAP SECTION */

#map { 
    width: 100%;
    height: 400px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }


/* TEAM SECTION */

#team { padding: 100px 0 100px 0; }
.team-title {
    font-size: 75px;
    font-family: 'Peignot';
    font-weight: 100;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.team-highlight{
    font-style: oblique;
    color: #f85759;
}
.team-intro { text-align: center; margin: auto; width: 50%; }
.team-item { padding: 20px; margin-top: 40px; }
.team-body{
    font-size: 20px;
    font-family: 'Peignot';
    text-align: justify;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.team-item h3{ padding:10px; margin-top: 20px; text-align: center;}
.team-item p{
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    font-family: 'Peignot';

}
.member-role { font-weight: bold; font-size: 14px; padding-left: 30px; position: relative; }
.member-role:after { position: absolute; content: " "; height: 3px; width: 25px; position: absolute; left: 0; top: 12px; background: #000; }
.member-img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    background-position: center center; }
#irem { background-image: url(../img/art-deco/team/irem.jpg); }
#ulzhan { background-image: url(../img/art-deco/team/ulzhan.jpg); }
#rana { background-image: url(../img/art-deco/team/rana.jpg); }

/* FOOTER */
.footer {
    background-color: #1B1D28;
    padding-top: 3em;
    padding-bottom: 1em;
    font-family: 'Peignot';
}

.footer-body {
    text-align: center;
    color: white;
}

.footer-body p{
    padding-bottom: 1em;
}
.footer-body p:last-child{
    color: #BE914C;
}


/* ARTICLE */

/* .article-page-header {
    background: none;
    background-color: #1B1D28;
    background-image: url(../img/art-deco/elements/ellipse.svg),url(../img/art-deco/elements/banner.svg);
    background-position: bottom, right bottom;
    background-repeat: no-repeat, repeat;
    background-size: 50vw, 300px;
    position: relative;
    transition: padding 0.2s;
    padding-top: 2em;
} */

.article-page-header {
    /* background: none; */
    background-color: #1B1D28;
    /* background-image: url(../img/art-deco/elements/gold.png), url(../img/art-deco/elements/ellipse.svg),url(../img/art-deco/elements/banner.svg);
    background-position: 50% 13%, bottom, right bottom;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 25vw, 50vw, 300px; */
    background-image: url(../img/art-deco/elements/ellipse.svg),url(../img/art-deco/elements/banner.svg);
    background-position: bottom, right bottom;
    background-repeat: no-repeat, repeat;
    background-size: 50vw, 200px;
    position: relative;
    transition: padding 0.2s ;
    padding-top: 2em;
}


.article-page-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.article-page-title{
    line-height: 1;
    color: #BE914C;
    text-align: center;
    font-weight: 400;
    font-family: 'Peignot';
    font-size: 40px;
    margin-right: 20px;

}

.article-container {
    /* margin: 20px; */
    padding: 40px;
}

.article-header {
    padding: 50px;
    border-radius: 25px;
    border-width: 1px !important;
    border-color: #000 !important;
    background-image: url(../img/art-deco/elements/woman-header.png), url(../img/art-deco/elements/woman-header5.png);
    background-size: contain, contain;
    /* background-image: url(../img/art-deco/elements/beige_tulle.png), url(../img/art-deco/elements/woman-header5.png);
    background-size: 40vw, contain; */
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-color: #1B1D28;
    /* background-image: url(../img/art-deco/elements/woman-header.png), url(../img/art-deco/elements/woman-header2.png), url(../img/art-deco/elements/woman-header3.png),  url(../img/art-deco/elements/woman-header4.png);
    background-size: contain, contain, contain, contain;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0, 350px, 700px, 1050px; */
}

.article-body {
    padding: 20px;
    margin-top:20px;
    text-align: justify;
    border: 1px solid transparent;
    border-color: #25292a;}

.first-heading {
    text-align: center;
}

/* New CSS for the image container */
.image-container {
    float: left; /* Make the container and images float to the left */
    width: 100%;
}


.text-title h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 56.35px;
    /* padding-top: 40px; */
}

.text-title h1 {
    font-family: 'Limelight';
    color: white;
    font-size: 80px;
    font-weight: 700;
    line-height: 80.50px;
}

.text-title h2:last-child {
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 41.30px;
}

.text-publisher h3 {
    padding-top: 90px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    font-family: 'ParkLane';
    letter-spacing: 2px;
}
.text-publisher p {
    padding-top: 40px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    font-family: 'Peignot';
}

.text-sub-title p {
    background-color: #cfcbc0;
    color: #3c3b3b;    
    font-family: 'Limelight';
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    font-style: oblique;
    line-height: 161%; /* 48.3px */
    padding: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 15px solid transparent;
    border-image: url(../img/art-deco/elements/banner.svg) 30 round;
}

.text-sub-title a {
    color: #3c3b3b;    
    font-style: oblique;
    text-decoration: none;
}

.text-sub-title a:hover {
    color: rgb(64, 64, 64);
    font-style: oblique;
    text-decoration: none;
}

.text-body p {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-family: 'Semplicita';
    font-weight: 550;
    /* font-family: 'Limelight'; */
    line-height: 2-5vh;
    padding: 1%;
    text-indent: 7%;
}

.text-body a {
    color: #000;
    font-style: oblique;
    text-decoration: none;
}

.text-body a:hover {
    font-style: oblique;
    text-decoration: none;
    color: rgb(210, 65, 65);
}

.text-body h2 {
    color: #000;
    text-align: justify;
    font-size: 40px;
    font-weight: bold;
    /* font-style: normal; */
    font-family: 'Peignot';
    text-align: center;
    line-height: 2-5vh;
    padding: 1%;
}
.food-city{
    text-decoration: underline;
}

.text-body h3 {
    color: #000;
    text-align: justify;
    font-size: 30px;
    font-weight: lighter;
    /* font-style: normal; */
    font-family: 'CoventryGarden';
    text-align: center;
    line-height: 2-5vh;
    padding: 1%;
}
.text-body h4 {
    color: #000;
    text-align: justify;
    font-size: 30px;
    font-weight: lighter;
    /* font-style: normal; */
    font-family: 'CoventryGarden';
    text-align: center;
    line-height: 2-5vh;
    padding: 1%;
}

#text-block1 {
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #cfcbc0;
    opacity: 0.75;
    align-items: center;
}

#text-block {
    margin: 20px 20px;
    padding: 150px 150px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px; 
    background-color: #cfcbc0;
    opacity: 0.75;
    align-items: center;
}

#text-block2 {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;  
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../img/art-deco/elements/text-block4.jpg);
    background-size: cover;
    background-position:top;
    filter: grayscale();
    font-weight: 200;
    border-image: auto;
    margin-bottom: 20px;
}

#text-block2 h2{
    text-align: center;
    font-family: 'ParkLane';
}


#text-block3 {
    background-color: #cfcbc0;
    border: 15px solid transparent;
    padding: 15px;
    font-family: 'ParkLane';
    border-image: url(../img/art-deco/elements/banner.svg) 30 round;
    text-align: center !important;
}

#must-eats{
    text-align: center !important;
    font-weight: 900;
    /* font-family: ParkLane;    */
    /* font-family: 'CoventryGarden'; */
}

#text-block-city {
    margin-bottom: 20px;
    border: 15px solid transparent;
    padding: 15px;
    font-family: 'ParkLane';
    border-image: url(../img/art-deco/elements/banner.svg) 30 round;
    text-align: center !important;
}

#text-block3 p{
    font-family: 'Limelight';
    text-align: center !important;
}


#text-block4 {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../img/art-deco/elements/text-block7.jpg);
    background-size: cover;
    background-position:center;
    filter: grayscale();
    font-weight: 200;
    font-style: italic;
    border-image: auto;
}

#text-block4 h2{
    text-align: center;
    font-family: 'ParkLane';
}
.ornament-image {background-repeat: no-repeat; background-size: cover; height: 150px; background-position: center;} 
#middle-of-text {background-image: url(../img/art-deco/elements/ornament.svg); }
/*FAB*/
  
#presentation{
    width: 480px;
    height: 120px;
    padding: 20px;
    margin: auto;
    background: #FFF;
    margin-top: 10px;
    box-shadow: 0 3px 15px -5px rgba(0,0,0,0.1); 
    transition: all 0.3s; 
    border-radius: 10px;
    
    h1{
      font-weight: 400;
    }
    
    h3{
      font-weight: 400;
      color: #666;
    }
  }
  
  #presentation:hover{
    box-shadow: 0 12px 28px -5px rgba(0,0,0,0.13);
    transition: all 0.3s;
    transform: translateZ(10px);
  }
  
  #floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffffff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }
  
  .plus{
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 5px;
    font-size: 38px;
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
  .plus img {
    width: 100%; 
    height: 100%; 
  }
  
  #container-outer{
    position: fixed;
    width: 150px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
    background: transparent;
    /* transition: all 0.3s; */
    border-radius: 10px; 
  }
  
  #container-outer:hover{
    width: 240px;
    height: 450px;
    background-color: #000000;
  }
  
  #container-floating{
    position: fixed;
    width: 120px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
    background: transparent;
    /* transition: all 0.3s; */
    border-radius: 10px; 
  }
  
  #container-floating:hover{
    margin: 10px 10px 10px 10px;
    width: 220px;
    height: 430px;
    background-color: #000000;
    border-color: #fefefe;
    border-style: solid;
  }
  
  #container-floating:hover .plus{
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
  }
  
  .edit{
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    padding-left: 12px;
    opacity: 0;
    margin: auto;
    line-height: 50px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
    
  }
  .edit img {
    width: 65%;
    height: 65%;
  }
  
  #container-floating:hover .edit{
    animation: edit-in 0.2s;
     animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes edit-in{
      from {opacity: 0; transform: rotateZ(-70deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  @keyframes edit-out{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(-70deg);}
  }
  
  @keyframes plus-in{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(180deg);}
  }
  
  @keyframes plus-out{
      from {opacity: 0; transform: rotateZ(180deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  .nds {
    margin-right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #ffffff;
    z-index: 300;
    transform: scale(0);
    /* background-color: #222; */
  }
  
  .nds .text {
    position: absolute;
    left: -150px; /* Adjust the distance based on your design */
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; /* Adjust the text color */
    font-size: 18px; /* Adjust the font size */
    white-space: nowrap;
    font-weight: bolder;
    /* -webkit-text-stroke: 1px #000000; */
  }
  
  .nds .reminder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .nds:hover {
    animation: bounce-nds 0.1s linear;
    animation-fill-mode: forwards;
  }
  
  .nd1{
    right: 40px;
    bottom: 300px;
    animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd3{
    right: 40px;
    bottom: 360px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd4{
    right: 40px;
    bottom: 420px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd-new {
    right: 40px;
    bottom: 240px;
    animation-delay: 0.3s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
  }
  
  .nd-new2 {
    right: 40px;
    bottom: 180px;
    animation-delay: 0.3s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
  }
  
  .nd-new3 {
    right: 40px;
    bottom: 120px;
    animation-delay: 0.3s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes bounce-nds{
      from {opacity: 0;}
      to {opacity: 1; transform: scale(1);}
  }
  
  @keyframes bounce-out-nds{
      from {opacity: 1; transform: scale(1);}
      to {opacity: 0; transform: scale(0);}
  }
  
  #container-floating:hover .nds{
    
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  #container-floating:hover .nd3{
    animation-delay: 0.08s;
  }
  #container-floating:hover .nd4{
    animation-delay: 0.15s;
  }
  #container-floating:hover .nd5{
    animation-delay: 0.2s;
  }
  #container-floating:hover .nd-new{
    animation-delay: 0.25s;
  }
  #container-floating:hover .nd-new2{
    animation-delay: 0.3s;
  }
  #container-floating:hover .nd-new3{
    animation-delay: 0.35s;
  }
  .letter{
    font-size: 23px;
    /* font-family: 'Roboto'; */
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 40px;
  }
  
  img.reminder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  /* .reminder{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    line-height: 40px;
  } */
  
  .profile{
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  } 
  
  /* SIDEBAR SECTION */

.category {
    cursor: pointer;
    text-decoration: underline;
}

.dish.highlighted {
    background-color: #EACC4A
}

.drink.highlighted {
    background-color: #8AA7CC
}

.place.highlighted {
    background-color: 	#8CA8A0;
}

.person.highlighted {
    background-color: #d95f6b;
}

.sidebar {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 126px;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: #1B1D28;
    padding: 10px 15px;
    color: white;
    border: none;
    overflow-x: hidden;
    z-index: 1001;
    margin-left: 4px;
    border-radius: 5px;
}

.openbtn:hover {
    background-color: rgb(82, 82, 82);
}

#main {
    transition: margin-left .5s;
    /* padding: 16px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* But what about the mobile view? - how should we construct the layout? */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

input[type=text] {
    max-width: 250px;
    padding: 5px 10px;
    font-size: 16px;
}

select {
    padding: 6px 10px;
    font-size: 16px;
}

.count {
    font-size: 14px;
}

.hidden {
    display: none;
}

.smalltitle {
    margin-top: 0;
}

.list-group {
    margin: 10px;
}