/*@font-face {
    font-family: 'Misdemeanor';
    src: url('Misdemeanor-Oyx8.ttf');
     src: local('Kudryashev Display Sans'), local('KudryashevDisplay-Sans'),
        url('KudryashevDisplay-Sans.eot?#iefix') format('embedded-opentype'),
        url('KudryashevDisplay-Sans.woff2') format('woff2'),
        url('KudryashevDisplay-Sans.woff') format('woff'),
        url('KudryashevDisplay-Sans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */

* {
    box-sizing: border-box;
  }
body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Courier New', sans-serif; letter-spacing: 0px; font-size: 17px; color: #8d8f90;  line-height: 32px; background-color: #F3E9E9; background-image: url(/img/banksy/dark-wall.png);  }
h1, h2, h3, h4, h5, h6 { color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Courier New', sans-serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
h1 { font-size: 34px; }
h2 { font-size: 28px; line-height: 38px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7; }
p:last-child { margin: 0px; }
a { text-decoration: none; color: #8d8f90; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #f85759; }

.section {
    position: relative;
}
.section.bg-static {
    margin: auto;
    background-image: url(/img/banksy/dark-wall.png);
}
.section .bg-move {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 500px;
    /* right: auto; */
    width: 150vh;
    height: auto;
    /* max-width: ; */
    background-size: contain;
    /* background-image: url("https://www.pngall.com/wp-content/uploads/2016/03/Cat-PNG-5.png"); */
    background-image: url("https://assets-global.website-files.com/5b13df51d0d5fe8211f203da/5b13f381541a8480ba1420db_square.svg");
    background-position: 500px;
    background-repeat: no-repeat;
}
  
.page-header {
    position: relative;
    background: none;
    transition: padding 0.8s; /* Add a transition for smooth effect */
    background-color: #000;
    background-image: url(/img/banksy/dark-wall.png);
}


.page-sub {
    text-align: center; 
    font-weight: lighter;
    color: #8d8f90;
    margin-top: 20px;
    font-family: 'cityburn';
}

.page-caption {
    padding-top: 20px; /* Reduce the top padding */
    padding-bottom: 20px; /* Reduce the bottom padding */
}

.page-title {
    color: #ED2024;
    font-family: 'cityburn';
    font-size: 100px; 
    font-weight: 400;
    line-height: 1;
    text-align: center;
}



/* Make the header sticky */
.page-header.sticky {
    /* background-image: url(/img/banksy/concrete-wall-2.png); */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(214, 214, 214);
    box-shadow: 0 4px 6px -6px #222;
}

/* Adjust the styles for the sticky header */
.page-header.sticky .page-caption {
    padding-top: 10px; /* Reduce the top padding for the sticky header */
    padding-bottom: 10px; /* Reduce the bottom padding for the sticky header */
}

.page-header.sticky .page-title {
    font-size: 40px; /* Reduce the font size for the sticky header */
}

/*nav-bar style*/

.navbar li {
    color:#FFF;
}

.navbar {
    /* margin-left: 1rem; */
    border-top: 0.5px solid #8d8f90;
    border-bottom: 0.5px solid #8d8f90;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-nav {
    padding-left:80px;
    padding-right:80px;
    font-family: 'cityburn';
    color: white;
}


.navbar-nav > li{
    padding-left:80px;
    padding-right:80px;
 }

/* .nav-item a {
    width: 290.33px;
    text-align: center;
    color: white;
    font-size: 22px;
} */

/*!!!!!nav bar items color */
a.nav-item {
    width: 290.33px;
    text-align: center;
    color: white;
    /* font-family: ; */
}

.nav-item.dropdown {
    width: auto;
}

.nav-main a{
    color: white;
}

.nav-link {
    color: white;
}

a.nav-link.dropdown-toggle.turkeyDropdown{
    color: black;
    text-align: left;
    width: 150px;
}

a.nav-link.dropdown-toggle.turkeyDropdown:hover{
    color: red;
}

navbar-nav.nav-link:hover {
 color:#000;}

li.nav-item.dropend {
    width:max-content;
}



.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
}

.dropend:hover > .dropdown-menu{
    position:absolute;
    top:0;
    left:100%;
    margin-left: .125em;
}



.turkeyDropdown {
    color:#000;
}

/* .card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; } */


.card-container {
    padding: 100px 60px 60px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
  
.card {
    /* display: grid; */
    place-items: center;
    /* width: 21rem; */
    min-width: 21.875rem;
    height: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    /*min-height: 5rem; */
}


.card_img {
    background-repeat: no-repeat; background-size: contain; height: 450px; background-position: center center;}

#turkey_cover {
    background-image: url(../img/banksy/tur-banksy.png);
    width: 20rem;
    background-size: cover;
} 
#italy_cover {
    background-image: url(../img/banksy/ita-banksy.png);
    width: 20rem;
    /* background-size: cover; */
}

#kaz_cover {
    background-image: url(../img/banksy/kaz-banksy.png);
    width: 20rem;
    /* background-size: cover; */
}
/* .card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
*/

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}


/* NEW INSERT OF A STYLE */

.card_overflow{
    padding: 0px 8px 8px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray; /* rgba(0, 0, 0, 0.75);  black with opacity */
    background-image: url(/img/banksy/dark-wall.png);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease; /* for smooth transition */
}

.card:hover .card_overflow{
    height: 100%;
    padding-top: 5em;
}

.card__title h2{
    /* padding-left: 4px; */
    width: 100%;
    color:black;
    font-size: 4wf;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg); 
}

.card__description a{
    margin-top: 30px;
    padding-top: 30px;
    text-align: left;
    color: black;
    font-size: 1.2 vw;
   /* margin: 10% 0 0 18%; */
    left: 20px;
    width: 70%;
    letter-spacing: 5px;
    line-height: 30px;
    font-family: 'Staatliches';
}
  

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex;
    width: 100%;
    height: 100%;
    padding: 12% 1.25rem 1.875rem;
  
}
  
.card__content--container {
    --flow-space: 1.25rem;
}
  
.card__title {
    font-family: 'cityburn';
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
}
  
.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color:#ED2024;
}

.welcome-ornament {
    background-image: url(../img/banksy/grafiti_transparent_stroke.png);
    background-size:auto;
    background-position: center;
    width: 85vw;
    height: 200px;
    margin-top: 2rem;
    display: block;
    background-repeat: no-repeat;
}


.welcome-intro {
    margin-top: 24px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    justify-content: center;
}

.welcome-title{
    padding-top: 16px;
    text-align: center;
    font-family: 'cityburn';
}

.welcome-body{
    font-size: 20px;
    text-align: justify;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Open Sans';
}


#team { padding: 100px 0 100px 0; }
.team-title {    
    background-image: url(/img/banksy/creative-stroke.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    background-position: 20vw;
    padding-top: 50px;
    text-align: center;
    font-family: 'cityburn';
}
.team-intro { text-align: center; margin: auto; width: 50%; }
.team-item { padding: 20px; margin-top: 20px; }

.team-item h3{
    font-family: 'cityburn';
    text-align: center;
}

.team-item p{
    text-align: center;
}

.team-body{
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-image:url(/img/banksy/grafiti_transparent_stroke.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: auto;
}
.member-role { font-weight: bold; font-size: 14px; padding-left: 30px; position: relative; text-align: center;}
.member-role:after { position: absolute; content: " "; height: 3px; width: 25px; position: absolute; left: 0; top: 12px; background: #000; }
.member-img { background-repeat: no-repeat; background-size: contain; height: 250px; background-position: center center; background-image: url(/img/banksy/spray-paint.png);}

#irem { background-image: url(../img/banksy/team/irem-banksy.png)}
#ulzhan { background-image: url(../img/banksy/team/ulzhan-banksy.png); }
#rana { background-image: url(../img/banksy/team/rana-banksy.png); }

/* MAP SECTION */

#map { 
    width: 100%;
    height: 400px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }



/* FOOTER */
.footer {
    background-color: #222;
    padding-top: 3em;
    padding-bottom: 1em;
}

.footer-body {
    text-align: center;
    color: white;
}

.footer-body p{
    padding-bottom: 1em;
}
.footer-body p:last-child{
    color: #ED2024;
}

/* ARTICLE */

.article-page-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.article-page-title{
    line-height: 1; 
    color:#ED2024; 
    text-align: center;  
    font-family: 'Misdemeanor';
    font-weight: 400;
    font-size: 40px;
    margin-right: 20px;
}

.article-container {
    margin: 20px;
    padding: 20px;
}

.article-header {
    padding: 50px; 
    background-image: url(/img/banksy/banksy_article_banner.jpg);
    background-color: #000000; /* will change for the whole page */
    border-radius: 25px;
}

.article-body {
    padding: 20px; 
    text-align: justify; 
}

.first-heading {
    text-align: center; 
}
.left-image {
    float: left;
    width: 100%;
    margin: 0 20px 20px 0;
}

.right-image {
    float: right;
    width: 100%;
    margin: 0 0 20px 20px;
}

/* New CSS for the image container */
.image-container {
    float: left; /* Make the container and images float to the left */
    width: 100%;
}


.text-title h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 56.35px;
}

.text-title h1 {
    font-family: 'Courier New';
    color: black;
    font-size: 80px;
    font-weight: 700;
    line-height: 80.50px;
}

.text-title h2:last-child {
    color: black;
    font-size: 25px;
    font-weight: 400;
    line-height: 41.30px;
}

.text-publisher h3 {
    padding-top: 50px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.text-sub-title p {
    color: black;
    font-family: 'Staatliches';
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 161%; /* 48.3px */
    padding: 2%;
}

/* how to add dropcap? */
.text-body p {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    line-height:2-5vh;
    padding: 3%;
}

/*FAB*/
  
#presentation{
    width: 480px;
    height: 120px;
    padding: 20px;
    margin: auto;
    background: #FFF;
    margin-top: 10px;
    box-shadow: 0 3px 15px -5px rgba(0,0,0,0.1); 
    transition: all 0.3s; 
    border-radius: 10px;
    
    h1{
      font-weight: 400;
    }
    
    h3{
      font-weight: 400;
      color: #666;
    }
  }
  
  #presentation:hover{
    box-shadow: 0 12px 28px -5px rgba(0,0,0,0.13);
    transition: all 0.3s;
    transform: translateZ(10px);
  }
  
  #floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffffff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }
  
  .plus{
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 5px;
    font-size: 38px;
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
  .plus img {
    width: 100%; 
    height: 100%; 
  }
  
  
  #container-floating{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
  }
  
  #container-floating:hover{
    width: 100px;
    height: 500px;
    /* display: inline-block; */
    /* padding: 30px; */
  }
  
  #container-floating:hover .plus{
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
  }
  
  .edit{
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    padding-left: 12px;
    opacity: 0;
    margin: auto;
    line-height: 50px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
    
  }
  .edit img {
    width: 65%;
    height: 65%;
  }
  
  #container-floating:hover .edit{
    animation: edit-in 0.2s;
     animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes edit-in{
      from {opacity: 0; transform: rotateZ(-70deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  @keyframes edit-out{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(-70deg);}
  }
  
  @keyframes plus-in{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(180deg);}
  }
  
  @keyframes plus-out{
      from {opacity: 0; transform: rotateZ(180deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  .nds{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
  }
  
  .nd1{
    right: 40px;
    bottom: 120px;
    animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd3{
    right: 40px;
    bottom: 180px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd4{
    right: 40px;
    bottom: 240px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd-new {
    right: 40px;
    bottom: 300px;
    animation-delay: 0.3s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
  }
  
  .nd-new2 {
    right: 40px;
    bottom: 360px;
    animation-delay: 0.3s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
  }
  
  .nd-new3 {
   right: 40px;
    bottom: 420px;
    animation-delay: 0.3s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes bounce-nds{
      from {opacity: 0;}
      to {opacity: 1; transform: scale(1);}
  }
  
  @keyframes bounce-out-nds{
      from {opacity: 1; transform: scale(1);}
      to {opacity: 0; transform: scale(0);}
  }
  
  #container-floating:hover .nds{
    
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  #container-floating:hover .nd3{
    animation-delay: 0.08s;
  }
  #container-floating:hover .nd4{
    animation-delay: 0.15s;
  }
  #container-floating:hover .nd5{
    animation-delay: 0.2s;
  }
  #container-floating:hover .nd-new{
    animation-delay: 0.25s;
  }
  #container-floating:hover .nd-new2{
    animation-delay: 0.3s;
  }
  #container-floating:hover .nd-new3{
    animation-delay: 0.35s;
  }
  .letter{
    font-size: 23px;
    /* font-family: 'Roboto'; */
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 40px;
  }
  
  img.reminder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .reminder{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    line-height: 40px;
  }
  
  .profile{
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  } 
  
    /* SIDEBAR SECTION */

    .category {
        cursor: pointer;
        text-decoration: underline;
    }
  
    .dish.highlighted {
        background-color: yellow;
    }
  
    .drink.highlighted {
        background-color: lightblue;
    }
  
    .place.highlighted {
        background-color: lightgreen;
    }
  
    .person.highlighted {
        background-color: pink;
    }
  
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
  
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
  
    .sidebar a:hover {
        color: #f1f1f1;
    }
  
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  
    .openbtn {
        position: fixed;
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        padding: 10px 15px;
        color: white;
        border: none;
        overflow-x: hidden;
        z-index: 1001;
    }
  
    .openbtn:hover {
        background-color: rgb(82, 82, 82);
    }
  
    #main {
        transition: margin-left .5s;
        /* padding: 16px; */
    }
  
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    /* But what about the mobile view? - how should we construct the layout? */
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
  
        .sidebar a {
            font-size: 18px;
        }
    }
  
    input[type=text] {
        max-width: 250px;
        padding: 5px 10px;
        font-size: 16px;
    }
  
    select {
        padding: 6px 10px;
        font-size: 16px;
    }
  
    .count {
        font-size: 14px;
    }
  
    .hidden {
        display: none;
    }
  
    .smalltitle {
        margin-top: 0;
    }
  
    .list-group {
        margin: 10px;
    }
  