
/*fonts*/
@font-face {
    font-family: 'arabesque-initialen'; 
    src: url('../Fonts/arabesque-initialen/ArabesqueInitialen.ttf') format('truetype');
}
* {
    box-sizing: border-box;
  }
body {
     background-color:#f3ebe1 !important;
     -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Garamond', 'Times New Roman', serif; letter-spacing: 0px; font-size: 17px; color: #8d8f90;  line-height: 32px; background: rgba(255,255,255,1); }
h1, h2, h3, h4, h5, h6 { color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Garamond', 'Times New Roman', serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
h1 { font-size: 34px; }
h2 { font-size: 28px; line-height: 38px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7;     font-family: Garamond, serif;}
li {font-family: Garamond, serif;}
p:last-child { margin: 0px; }
a { text-decoration: none; color: #8d8f90; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #f85759; }

.page-header { 
    position: relative; 
    background-size: cover; 
    /* background-image: url(../img/baroque/elements/banner-front.svg), url(../img/baroque/elements/banner-bakground.svg); 
    background-color:#000; 
    background-position:center, center; 
    position: relative; 
    transition: padding 0.8s;
     */
     background-image: url(../img/baroque/elements/APPETITE.svg);
     background-color: #000;
}

.page-title { 
    line-height: 1; 
    color: #000000; 
    text-align: center;  
    font-family: 'Garamond', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 90px; 
    background-color: #f3ebe1;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px #000 solid;
}


.page-sub {
    text-align: center; 
    font-weight: lighter;
    background-color: #f3ebe1;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px #000 solid;

}

.page-caption {
    padding-top: 20px; /* Reduce the top padding */
    padding-bottom: 20px; /* Reduce the bottom padding */
}


/* Make the header sticky */
.page-header.sticky {
    background-image: url(../img/baroque/elements/APPETITE.svg);
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(214, 214, 214);
    box-shadow: 0 4px 6px -6px #222;
}


/* Adjust the styles for the sticky header */
.page-header.sticky .page-caption {
    padding-top: 10px; /* Reduce the top padding for the sticky header */
    padding-bottom: 10px; /* Reduce the bottom padding for the sticky header */
}

.page-header.sticky .page-title {
    font-size: 40px; /* Reduce the font size for the sticky header */
}

/*nav-bar style*/

.navbar li {
    color:#F7EDE1;
}
.all-navbar
    {   background-size: cover; 
        background-position: center;
    }
    
.navbar {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 0 !important;    
    background-color:#F7EDE1;
}

.nav-link {
    font-weight: bolder !important;   
}

.navbar-nav > li{
    padding-left:80px;
    padding-right:80px;
 }

  
/* CARDS LAYOUT */

.card-container {
    padding: 100px 60px 60px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
  
.card {
    display: grid;
    place-items: center;
    width: 21rem;
    max-width: 21.875rem;
    height: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card_img {
  background-repeat: no-repeat; 
  background-size: contain; 
  height: 500px; 
  background-position: center center;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}


.card_overflow{
  /* padding: 16px 8px 8px 16px; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;  
  background-image: url(../img/baroque/covers/card-background.svg);
  background-size: cover ;
  overflow: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  transition: .5s ease;
}

.card:hover .card_overflow{
    height: 100%;
}

  
.card__description a {
    color: #000;
    font-family: Garamond, serif;
    font-size: 2vw;
    letter-spacing: 5px;
    line-height: 30px;
    text-decoration: none;
}
  
.card__description a:hover {
    color: #000;
    text-decoration: underline;
}

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex;
    width: 100%;
    height: 100%;
    padding: 12% 1.25rem 1.875rem;
  
}
  
.card__content--container {
    --flow-space: 1.25rem;
}
  
.card__title {
    color: #000;
    font-size: 3vw;
    padding-bottom: 1em;
    padding-top: 2em;
    position: relative;
    text-align: center;
    width: -moz-fit-content;
}
#turkey_cover {
  background-image: url(../img/baroque/covers/tur-baroque-front.svg);
  width: 20rem;
  background-color: #bba88a;
} 
#italy_cover {
  background-image: url(../img/baroque/covers/ita-baroque-front.svg);
  background-color: #bba88a;
}

#kaz_cover {
  background-image: url(../img/baroque/covers/kaz-baroque-front.svg);
  background-color: #bba88a;
}

/*INTRO*/

.welcome-intro {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    justify-content: center;
    
}


.welcome-title{
    padding-top: 20px;
    text-align: center;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: 40px;
}

.welcome-body{
    font-size: 20px;
    text-align: justify;
    padding: 30px;
    font-family: Garamond, serif;
    border-image: url(../img/baroque/elements/orn5.svg) 20 round !important;
    border: 25px solid;

}
/* .welcome-body p {   
    border-image: url(../img/baroque/elements/orn5.svg) 20 round !important;
    border: 25px solid;
    font-size: 20px;
    text-align: justify;
    padding: 1%;
   
} */

#team { padding: 100px 0 100px 0; 
}
.team-title {    
    padding-top: 50px;
    text-align: center; 
    font-size: 40px;
    font-weight: bold;
    font-family: Garamond, serif;
}
.team-intro {text-align: center; margin: auto; width: 50%; font-family: Garamond, serif;}
.team-item { padding: 20px; margin-top: 40px; }
.team-body{
    font-size: 20px;
    text-align: center;
    font-family: Garamond, serif;
    padding: 30px;
    border-image: url(../img/baroque/elements/orn5.svg) 20 round !important;
    border: 25px solid;
    margin-left: 40px;
    margin-right: 40px;
}
.member-img p {font-family: Garamond, serif;}
.member-role {font-family: Garamond, serif; font-weight: bold; font-size: 14px; padding-left: 30px; position: relative; }
.member-role:after {font-family: Garamond, serif; position: absolute; content: " "; height: 3px; width: 25px; position: absolute; left: 0; top: 12px; background: #000; }
.member-img {    font-family: Garamond, serif; background-repeat: no-repeat; background-size: contain; height: 250px; background-position: center center; }
#irem { background-image: url(../img/baroque/team/irem-baroque.jpg); }
#ulzhan { background-image: url(../img/baroque/team/ulzhan-baroque.jpg); }
#rana { background-image: url(../img/baroque/team/rana-baroque.jpg); }

/* MAP SECTION */

#map { 
  width: 100%;
  height: 400px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
/* FOOTER */
.footer {   background-color: #222;
    background-size: cover;
    padding-top: 3em;
    padding-bottom: 1em;
}

.footer-body {     
    font-family: Garamond, serif;
    text-align: center;
    color: white;
}

.footer-body p{
    padding-bottom: 1em;
    font-family: Garamond, serif;
}
.footer-body p:last-child{
    color: #BE914C;
}

.footer-ornament{ 
    background-image: url(../img/baroque/elements/footer.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 2%;
}

hr {    
    font-family: Garamond, serif;
    border: none;
    height: 2px;
    background-color: #000;
    padding-left: 12px !important; 
    padding-right: 12px !important; /* bunu değiştiremedim */
  }

/* ARTICLE */

p.drop-cap::first-letter {
    font-size: 5em; /* Adjust the size of the drop cap */
    font-family: 'arabesque-initialen', serif; /* BU ÇALIŞMIYOR!!! */
    float: left; /* Float the drop cap to the left */
    margin-right: 0.1em; /* Add some space between the drop cap and the text */
    font-weight: normal; /* Optionally make the drop cap bold */
    color: #000000; /* Choose a color that complements the Baroque style */
    /* text-shadow: 2px 2px 2px #000;  */
    line-height: 1; /* Adjust line height for better visual alignment */
  }

.article-page-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.article-page-title{
    line-height: 1; 
    color: #000000; 
    text-align: center;  
    font-family: 'Garamond', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 40px;
    margin-right: 20px;
    background-color: #f3ebe1;
    border: 5px #000 solid;
    padding-left: 25%;
    padding-right: 25%;
}

.article-container {
    margin: 20px;
    padding: 20px;
}

.article-header {
    padding: 50px; 
    border-radius: 25px;
}

.article-body {
    padding: 20px; 
    text-align: justify; 
}

.first-heading {
    text-align: center; 
}

.ornament-image {background-repeat: no-repeat; background-size: contain; height: 150px; background-position: center;} 
#before-text-sub-title {background-image: url(../img/baroque/elements/ornament-before-sub-text.svg); } 
/* .ornament-image2 {background-repeat: no-repeat; background-size: 100px; height: 150px; background-position: center;}  */
#middle-of-text {background-image: url(../img/baroque/elements/ornament-article-body.svg); }


.text-title h2 {
    color: #000;
    text-align: center;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.text-title h1 {
    color: #000;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.text-title h2:last-child {
    color: #000;
    text-align: center;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.text-publisher h3 {
    color: #000;
    text-align: center;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.text-sub-title p {
    color: black;
    font-family: 'Garamond', 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%; /* 48.3px */
    /* padding: 2%; */
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}

/* how to add dropcap? */
.text-body p {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    line-height: 22px;
    padding-right: 10%;
    padding-left: 10%;
}
 .special-container {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    line-height:2-5vh;
    padding-right: 15%;
    padding-left: 15%;
 }

 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    font-family: 'Garamond', 'Times New Roman', serif;

}


/*FAB*/
  
#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 15px -5px rgba(0,0,0,0.1); 
  transition: all 0.3s; 
  border-radius: 10px;
  
  h1{
    font-weight: 400;
  }
  
  h3{
    font-weight: 400;
    color: #666;
  }
}

#presentation:hover{
  box-shadow: 0 12px 28px -5px rgba(0,0,0,0.13);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.plus{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 5px;
  font-size: 38px;
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}
.plus img {
  width: 100%; 
  height: 100%; 
}


#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  width: 100px;
  height: 500px;
  /* display: inline-block; */
  /* padding: 30px; */
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding-left: 12px;
  opacity: 0;
  margin: auto;
  line-height: 50px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
  
}
.edit img {
  width: 65%;
  height: 65%;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
  animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

.nd4{
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.nd-new {
  right: 40px;
  bottom: 300px;
  animation-delay: 0.3s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode: forwards;
}

.nd-new2 {
  right: 40px;
  bottom: 360px;
  animation-delay: 0.3s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode: forwards;
}

.nd-new3 {
 right: 40px;
  bottom: 420px;
  animation-delay: 0.3s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}
#container-floating:hover .nd-new{
  animation-delay: 0.25s;
}
#container-floating:hover .nd-new2{
  animation-delay: 0.3s;
}
#container-floating:hover .nd-new3{
  animation-delay: 0.35s;
}
.letter{
  font-size: 23px;
  /* font-family: 'Roboto'; */
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

img.reminder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
} 

