* {
    box-sizing: border-box;
  }
  body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Helvetica', sans-serif; letter-spacing: 0px; font-size: 17px; color: #8d8f90; font-weight: 400; line-height: 32px; background-color: #edefef; }
h1, h2, h3, h4, h5, h6 { color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Helvetica', sans-serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
h1 { font-size: 34px; }
h2 { font-size: 28px; line-height: 38px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7; }
p:last-child { margin: 0px; }
ul, ol { }
a { text-decoration: none; color: #8d8f90; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #f85759; }

/*fonts*/
@font-face {
    font-family: 'arabesque-initialen'; 
    src: url('arabesque-initialen/ArabesqueInitialen.ttf') format('ttf'), 
}

.page-header { position: relative; background-size: cover; background-image: url(background.png);}
.page-caption {  padding-top: 50px; padding-bottom: 50px;
}
.page-title { color: #000;
    font-family: Garamond;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;}

.page-sub { text-align: center; 
            color: #000;
            font-family: Garamond;
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;}

.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }

/* BAROQUE - ARTICLE PAGE */
.text-container 
    {background-color: #f0f0f0; /* will change for the whole page */
     padding: 20px; 
     text-align: justify; 
    }

.heading {
    text-align: center; 
}

.title h2 {
    color: black;
    font-size: 35px;
    font-family: Garamond;
    font-weight: 700;
    line-height: 56.35px;
}

.title h1 {
    color: black;
    font-size: 50px;
    font-family: Garamond;
    font-weight: 700;
    line-height: 80.50px;
}

.title h2:last-child {
    color: black;
font-size: 35px;
font-family: Garamond;
font-weight: 700;
line-height: 41.30px;
}

.publisher h3 {
    color: black;
    font-size: 28px;
    font-family: Garamond;
    font-style: italic;
    font-weight: 400;
}

.ornament {
    width: 100px;
    /* wievport height ve width kullan.  I need to align it with the grid, how? */
}

.sub-title p {
    color: #000;
    text-align: center;
    font-family: Garamond;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 161%; /* 48.3px */
}

/* how to add dropcap? */
.text-body p {
    color: #000;
    text-align: justify;
    font-family: Garamond;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
